@use '../helpers' as *;

.burger-button {
    @include square(#{rem(34)});

    display: inline-flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: #{rem(8.5)} #{rem(4.25)};
    border: none;
    background-color: transparent;

    @include hover {
        color: var(--color-orange-50);
    }

    &.is-active {
        .burger-button__line {
            position: absolute;

            &:first-child {
                transform: rotate(45deg);
                
            }
            &:nth-child(2) {
                transform: scaleX(0);
                transition-duration: .5s;
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &__line {
        width: 100%;
        height: #{rem(2)};
        background-color: var(--color-grey-15);
        border-radius: #{rem(1)};
        transition-duration: var(--transition-duration);

        &:first-child,
        &:last-child {
            width: 70%;
        }

        &:nth-child(2) {
            transition-duration: .8s;
        }
    }
}