@use '../helpers' as *;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: fluid-to-laptop(14, 12) fluid(34, 20);
    border-radius: var(--border-radius-s);
    border: none;
    white-space: nowrap;

    @include hover {
        scale: 1.05;
    }

    &--main {
        background-color: var(--color-orange-50);
        color: var(--color-white);

        @include hover {
            color: var(--color-white);
            background-color: var(--color-grey-40);
        }
    }

    @include laptop {
        border-radius: var(--border-radius-xs);
    }

    &--transparent {
        background-color: transparent;
        color: var(--color-grey-15);

        @include hover {
            color: var(--color-orange-50);
        }
    }

    &--white {
        background-color: var(--color-white);

        @include hover {
            color: var(--color-orange-50);
        }
    }

    &--light-gray {
        display: flex;
        align-items: center;
        column-gap: #{rem(14)};
        background-color: var(--color-white-97);
        border: var(--border-light);
        font-weight: 500;

        @include hover {
            color: var(--color-orange-50);
            border-color: var(--color-orange-50);
        }
    }
}