@use '../helpers' as *;

.card {
    display: grid;
    background-color: var(--color-white);
    border-radius: var(--border-radius-l);

    @include laptop {
        border-radius: var(--border-radius-m);
    }
}