@use '../helpers' as *;

.courses-card {
    padding: fluid(50, 24);
    row-gap: fluid-to-laptop(30, 24);

    &__image {
        border-radius: var(--border-radius-m);

        @include laptop {
            border-radius: var(--border-radius-s);
        }
    }

    &__body {
        display: grid;
        row-gap: fluid(30, 14);
    }

    &__extra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: #{rem(14)};

        @include mobile {
            flex-direction: column;
            align-items: start;
        }

        &-badge-inner {
            color: var(--color-grey-30);
            display: flex;
            column-gap: #{rem(10)};
        }
        
        &-auther {
            @include fluid-text(20, 16);

            font-weight: 500;
        }
    }

    &__info {
        display: grid;
        row-gap: fluid-to-laptop(14, 10);
    }

    &__description {
        color: var(--color-grey-30);
    }
}