@use '../helpers' as *;

.pages {
    padding-block: var(--section-padding-y);

    &__header {
        display: flex;
        gap: fluid(100, 18);
        padding-block: var(--section-padding-y);
        border-bottom: 1px solid var(--color-white-90);

        @include tablet {
            flex-direction: column;
        }
    }

    &__title {
        max-width: fluid-to-laptop(748, 600);
    }

    &__description {
        max-width: fluid-to-laptop(748, 600);
    }

    &__body {
        margin-top: var(--section-padding-y);
        padding-block: var(--section-padding-y);
    }

    &__list {
        display: grid;
        row-gap: fluid(50, 20);
    }
}